# Ignore everything inside raw and processed
data/raw/*
data/processed/*

# But keep the folders themselves
!data/raw/.gitkeep
!data/processed/.gitkeep

# Ignore data files anywhere
*.parquet
*.csv

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environment
.venv/

# macOS
.DS_Store
